@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.editform {
  &-inventory {
    height: 100%;

    @include tablet {
      display: flex;
      padding: 1.5rem 0;
    }

    &__list,
    &__list-right {
      width: 100%;
      padding: 1rem 1.5rem 1.5rem;
      border-top: 1px solid $secondary-cloud;

      @include tablet {
        border-top: none;
        padding: 0 32px;
      }

      @include desktop {
        padding: 0 40px;
      }

      h3 {
        margin-top: 0;
        margin-bottom: 1.5rem;
      }
    }

    &__list-right {
      @include tablet {
        border-left: 1px solid $secondary-cloud;
      }
    }
  }

  &__button-wrapper {
    background-color: rgba(247, 248, 249, 0.7);
    height: 68px;
    padding: 1rem 1.5rem;
    display: flex;

    @include tablet {
      justify-content: flex-end;
      padding: 1rem 2rem;
    }
  }

  &__cancel-button,
  &__add-button {
    width: 100%;
    @include tablet {
      width: auto;
    }
  }

  &__cancel-button {
    margin-right: 1rem;
  }
}
