@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.CTAButton {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.8125rem;

  &__cta-button {
    background-color: $primary-indigo;
    color: $primary-white;
    height: 36px;
    width: 100%;
    border-radius: 20px;
    border: none;
    font-family: "Titillium-Web";
    font-weight: 600;
    padding: 0;

    @include tablet {
      width: 100%;
      height: 38px;
    }

    &:hover {
      cursor: pointer;
      background-color: $background-graphite;
    }
  }
}
