@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.CTAButton {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.8125rem;

  &__cta-button {
    height: 36px;
    width: 100%;
    border-radius: 20px;
    border: none;
    font-family: "Titillium-Web";
    font-weight: 600;
    padding: 0 16px;
    min-width: 72px;

    @include tablet {
      width: auto;
      height: 38px;
    }

    

    &--primary {
      background-color: $primary-indigo;
      color: $primary-white;
      &:hover {
        cursor: pointer;
        background-color: $background-graphite;
      }
    }

    &--secondary {
      background-color: $primary-white;
      color: $secondary-slate;
      border: 1px solid $secondary-cloud;
      &:hover {
        cursor: pointer;
        color: $primary-indigo;
        border-color: $primary-indigo;
      }
    }

    &--danger {
      background-color: $red;
      color: $primary-white;
      &:hover {
        cursor: pointer;
        background-color: $background-graphite;
      }
    }
  }
}
