@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.CTAButton {
  position: relative;
  display: flex;
  align-items: center;

  &__cta-button {
    background-color: $primary-indigo;
    color: $primary-white;
    height: 36px;
    width: 100%;
    border-radius: 20px;
    border: none;
    font-family: "Titillium-Web";

    @include tablet {
      width: 185px;
      height: 38px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
