@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.list-item {
  overflow-wrap: break-word;
  margin: 0;

  label {
    display: block;
    margin-bottom: 4px;
    @include tablet {
      margin: 0;
    }
  }

  p {
    margin: 0;
    line-height: 24px;

    @include tablet {
      margin: 0;
    }
  }

  &__link-wrapper {
    display: flex;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    color: $primary-indigo;
    font-size: 0.8125rem;
    line-height: 24px;
  }

  img {
    width: 1.25rem;
  }
}
