@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.inventory-list {
  @include tablet {
    display: none;
  }

  &__info-wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $secondary-cloud;
    padding: 1rem 1.5rem;
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;

    &--left {
      width: 46%;
    }
  }

  &__icon-wrapper {
    display: flex;
    padding: 1rem 1.5rem;
    padding-top: 0;
    justify-content: space-between;
  }

  img {
    width: 24px;
  }
}
