@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.edit-inventory {
  margin-top: 120px;
  border-radius: 3px;
  margin: 136px 1rem 0;
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
  background-color: $primary-white;
  position: relative;

  @include tablet {
    margin: 92px 2rem 0;
  }

  @include desktop {
    margin: 92px 130px 0;
  }

  &__page-header {
    padding: 32px 24px 24px;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $secondary-cloud;

    @include tablet {
      padding: 38px 24px 28px;
    }

    h2 {
      margin: 0;

      @include tablet {
        position: absolute;
        left: 56px;
      }
    }
  }
}
