@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.CancelButton {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.8125rem;

  &__button {
    background-color: $primary-white;
    color: $secondary-slate;
    height: 36px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid $secondary-cloud;
    font-family: "Titillium-Web";
    font-weight: 600;

    @include tablet {
      width: 100%;
      height: 38px;
    }

    &:hover {
      cursor: pointer;
      color: $primary-indigo;
      border-color: $primary-indigo;
    }
  }
}
