@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-page {
  margin-top: 120px;
  border-radius: 3px;
  margin: 136px 1rem 0;
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
  background-color: $primary-white;

  @include tablet {
    margin: 92px 2rem 0;
  }

  @include desktop {
    margin: 92px 130px 0;
  }

  &__page-header {
    padding: 32px 24px 24px;
    position: relative;

    @include tablet {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    h2 {
      margin: 0;
      @include tablet {
        position: absolute;
        left: 32px;
      }
    }
  }
}
