@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  margin: 2.5rem auto;
  width: 100%;
  display: flex;
  justify-content: center;

  @include tablet {
    margin-top: 4.375rem;
  }

  @include desktop {
    margin-top: 5.9375rem;
  }

  p {
    font-size: 0.6875rem;
    color: $secondary-slate;
    margin: 0;

    @include tablet {
      font-size: 0.75rem;
    }
  }
}
